<div class="container section">
  <h1 class="section-title">SOBRE NOSOTROS</h1>
    <div fxLayout="column" fxLayoutAlign="center center">
      <markdown ngPreserveWhitespaces class="text-content">
        Angular es una de las tecnologías más populares en el desarrollo web
        moderno. Nos encanta Angular y queremos compartirlo contigo. Cada 6
        semanas aproximadamente organizamos charlas de Angular u otras
        tecnologías web, con los mejores ponentes nacionales e internacionales.


        En AngularMálaga queremos crear un espacio donde todos estemos cómodos,
        podamos conocer a otros miembros de la comunidad tan maravillosa que
        tenemos en Málaga y aprender sobre tecnologías web. ¡Estáis tod@s
        invitad@s! 

        
        Si te apetece compartir algún tema interesante o algún
        proyecto que hayas hecho con la comunidad ¡Anímate y rellena el
        formulario! Te esperamos.
      </markdown>
      <a routerLink="/call-for-speakers">DA UNA CHARLA CON NOSOTROS</a>
    </div>
</div>
