<div class="page-container">
    <div class="text-container">
        <h1 class="section-title">CÓDIGO DE CONDUCTA</h1>
        <markdown class="text-content" ngPreserveWhitespaces>
            La comunidad de AngularMálaga está formada por gente respetuosa, amable y maravillosa, y depende de nosotros que así siga siendo. 
            En AngularMálaga pensamos que es fundamental crear un espacio donde tod@s nos sintamos segur@s, y para ello hemos elaborado el presente código de conducta.
            Nos tomamos muy en serio el incumplimiento de dicho código de conducta, acto que conllevará la sanción que el equipo de AngularMálaga considere apropiada.
            Dicho esto, reiterar que cualquier persona es bienvenida a nuestros eventos, siempre y cuando su comportamiento se ajuste a lo siguiente:
    
            <h1> Tolerancia CERO al acoso</h1>
            
            - No se tolerará ningún tipo de acoso, entre los que se incluyen los siguientes:
                - Comentarios de índole sexual
                - Comentarios ofensivos
                - Intimidación
                - Conducta agresiva y/o sexual
                - Stalking/persecución
    
            - No se tolerará ninguna clase de comentarios/actitudes despectivas, entre las que se incluyen las referentes a:
                - Raza
                - Nacionalidad
                - Género
                - Identidad de género
                - Orientación sexual
                - Edad
                - Apariencia física
                - Creencias religiosas
                - Embarazo
    
            <h1> Ser respetuoso con los demás miembros y ayudarles cuando sea necesario</h1>
            Se debe tratar a todos y cada uno de los miembros con respeto. Todos tenemos el derecho de pasar un rato agradable en la comunidad, sin miedo a ser discriminados,
            acosados ni agredidos de ninguna forma. Pedimos a todos los miembros que, en el caso de ser testigos de una conducta inapropiada, avisen inmediatamente al equipo
            de AngularMálaga, para poder tomar las medidas pertinentes. 
    
            <h1> Política Antiacoso</h1>
    
            El equipo de AngularMálaga tiene como objetivo crear y fomentar una comunidad inclusiva y libre de acoso para cualquier persona, independientemente de su identidad de género,
            orientación sexual, apariencia física, etnia, nacionalidad, edad, creencias religiosas etc. No se tolarará ninguna clase de acoso hacia los miembros de la comunidad.
    
            <h1> Política de Conducta</h1>
            El equipo de AngularMálaga se reserva el derecho de expulsar a cualquier persona de la comunidad, ya sea de un evento físico o en línea, en cualquier momento, según se estime oportuno.
        </markdown>
    </div>
</div>