<div class="container">
    <h1>Call for Speakers</h1>
    <markdown ngPreserveWhitespaces>
      Estamos buscando nuevos ponentes constantemente. Si crees que tienes un tema 
      interesante para compartir con la comunidad, ¡Anímate y rellena el formulario! 
      
      ¿Qué pasa si no has dado ninguna charla? ¡Absolutamente nada, nos encantaría 
      escucharte de todas formas! Si estás interesad@, estaríamos encantados de 
      conectarte con algún mentor que pueda ayudarte a preparar tu primera charla. 
      
      Cada charla debería tener una duración entre 30-40 minutos
      (incluyendo un breve espacio de tiempo para preguntas). Nosotros te
      proporcionaremos un contador para ayudarte a medir el tiempo de tu charla. En
      el caso de que tu propuesta requierese más (o menos) tiempo, solamente tienes
      que decírnoslo para que podamos planificarlo de la mejor manera. 
      
      Estamos abiertos a experimentos. Envíanos tu propuesta y, si encaja con nuestro
      perfil, podremos trabajar juntos para hacerlo posible. Por supuesto, si tienes
      cualquier recomendación para posibles ponentes, quizás porque te has cruzado
      con su código, o un artículo en la Web, no dudes en escribirnos al respecto.
    </markdown>
    <app-speaker-form>
      
    </app-speaker-form>
    
</div>
