a {
  color: #000;
  margin-bottom: 15px;
}

img {
  height: 100px;
  margin-bottom: 30px;
  width: 100px;
}

mat-divider {
  margin-bottom: 20px;
}

mat-sidenav.sidenav {
  padding: 20px;
  top: 56px !important;
}

fa-icon {
  color: #c2002e;
  margin-right: 10px;
}
