img {
  height: 400px;
  width: 400px;
}

.organizer-container {
  background-color: #fff;
  padding: 50px;
}

.border {
  border: 3px solid #c2002e;
  height: 400px;
  left: 425px;
  margin-left: -400px;
  position: relative;
  top: 17px;
  width: 400px;
}

.side-column-content {
  margin-right: 70px;
  z-index: 5;
}

.social-icons {
  margin: 50px 0;
}

.main-content {
  background-image: linear-gradient(to right, #c2002e 50px, transparent 50px),
    linear-gradient(to right, #c2002e 50px, transparent 50px),
    linear-gradient(to bottom, #c2002e 50px, transparent 50px),
    linear-gradient(to bottom, #c2002e 50px, transparent 50px);
  background-size: 100% 3px, 100% 3px, 3px 100%, 3px 100%;
  background-position: -25px 0%, -25px 100%, 0% -25px, 100% -25px;
  background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
  max-width: 50%;
  padding: 20px;
}

.section-title,
.section-subtitle {
  text-align: left;
}

.section-title {
  margin-bottom: 0;
}

.section-subtitle {
  color: #c2002e;
}

.bio {
  font-size: 20px;
  font-weight: 300;
  line-height: 1.5;
}

fa-icon {
  color: #c2002e;
  margin: 10px;
}

fa-icon:hover {
  color: #000;
}

@media only screen and (max-width: 959px) {
  .section-title {
    font-size: 25px;
  }

  .section-subtitle {
    font-size: 20px;
  }

  .side-column-content {
    margin: 0;
    right: 0;
  }

  .border {
    left: 20px;
    margin-left: 0;
    margin-top: -370px;
    top: 424px;
  }

  .main-content {
    max-width: 85%;
  }

  .main-content * {
    text-align: center;
  }
}

@media only screen and (max-width: 475px) {
  .section-title {
    font-size: 23px;
  }

  .section-subtitle {
    font-size: 20px;
  }

  img {
    height: 300px;
    width: 300px;
  }

  .border {
    height: 300px;
    left: 10px;
    margin-top: -250px;
    top: 312px;
    width: 300px;
  }
}
