<div fxLayoutAlign="center" class="page-container">
    <div fxLayoutAlign="center" fxLayout.lt-md="column" fxLayoutAlign.lt-md="center center" class="organizer-container" *ngIf="organizer$ | async as organizer">
        <div class="border"></div>    
        <div class="side-column-content">
                <img [src]="'assets/images/team/' + organizer.photo">
                <div fxLayoutAlign="center" class="social-icons">
                    <div *ngFor="let social of organizer.socialMedia">
                        <a [href]="social.url" target="_blank"><fa-icon size="2x" [icon]="socialIcons[social.platform]"></fa-icon></a>
                    </div>
                </div>
            </div>
        <div class="main-content">
            <h1 class="section-title">{{organizer.name}}</h1>
            <h2 class="section-subtitle">Desarrollador Full Stack</h2>
            <div class="bio" [innerHTML]="organizer.bio"></div>
        </div>
    </div>
</div>