img {
  height: 300px;
  width: 300px;
}

mat-card {
  margin-bottom: 20px;
  transition: all 0.5s;
}

mat-card-content {
  text-align: center;
}

.content {
  margin-top: 70px;
}

mat-card:hover {
  cursor: pointer;
  transform: scale(1.05);
}

@media only screen and (min-width: 1600px) {
  .container {
    padding: 100px 50px;
  }
}
