<div
    class="content"
    fxLayout="row"
    fxLayoutAlign="space-evenly center"
    fxLayout.lt-sm="column"
    fxLayout.lt-md="row wrap"
    fxLayoutGap.lt-sm="10px"
  >
    <mat-card [routerLink]="'/team/organizer/' + teamMember.id" *ngFor="let teamMember of teamMembers">
      <img
        mat-card-image
        [src]="'assets/images/team/' + teamMember.photo"
        alt="Photo of {{ teamMember.name }}"
      />
      <mat-card-content>
        <h3>{{ teamMember.name }}</h3>
      </mat-card-content>
    </mat-card>
</div>