<div class="page-container">
    <h1 class="section-title">EL EQUIPO</h1>
    <h2 class="section-subtitle">ORGANIZADORES</h2>
    <p class="text-content">
        En AngularMálaga tenemos la suerte de contar con un maravilloso equipo de organizadores, cuya excelente labor permite que esta comunidad siga creciendo y organizando eventos para todos sus miembros.
    </p>
    <ngmlg-team-list [teamMembers]="teamMembers"></ngmlg-team-list>

    <h2 class="section-subtitle collaborators">COLABORADORES</h2>
</div>