a {
  color: #fff;
  font-size: 17px;
  margin-bottom: 30px;
}

h1 {
  font-size: 20px;
}

img {
  height: 100px;
  margin-bottom: 20px;
  width: 100px;
}

footer {
  background-color: #1f1f1f;
  color: white;
  padding: 80px;
}

fa-icon {
  margin: 10px;
}

.container div {
  margin-bottom: 20px;
}

.hover-line-links a {
  text-align: center;
}
