img {
  width: 100%;
  height: auto;
}

div {
  display: block;
}

.container {
  position: relative;
}

.text-container {
  position: absolute;
  max-width: 45%;
  height: 200px;
  top: 30%;
  left: 13%;
}

.title {
  font-size: 100px;
}

.subtitle {
  position: relative;
  height: 25%;
  font-size: 60px;
  margin-bottom: 40px;
}
