img {
  width: 100%;
  height: auto;
}

.container {
  position: relative;
}

.text-container {
  position: absolute;
  max-width: 45%;
  top: 30%;
  left: 8%;
}

.title {
  font-size: 80px;
}

.subtitle {
  font-size: 40px;
  margin-bottom: 40px;
}
