img {
  height: 300px;
  width: 300px;
}

h1 {
  font-size: 40px;
  color: #3f3f3f;
}

h3 {
  color: #3f3f3f;
  font-weight: bold;
}

mat-card-content {
  text-align: center;
}

.container {
  background-color: #ffffff;
  text-align: center;
  padding: 20px;
}

.content {
  margin-top: 50px;
}
