<form class="speaker-form" [formGroup]="speakerForm">
  <mat-form-field class="speaker-full-width">
    <mat-label>Nombre completo</mat-label>
    <input matInput placeholder="" required formControlName="fullName" />
  </mat-form-field>
  <mat-form-field class="speaker-full-width">
    <mat-label>Email</mat-label>
    <input matInput placeholder="" required formControlName="email" />
  </mat-form-field>
  <mat-form-field class="speaker-full-width">
    <mat-label>Twitter</mat-label>
    <input matInput placeholder="" formControlName="twitter" />
  </mat-form-field>
  <mat-form-field class="speaker-full-width">
    <mat-label>Título de la charla</mat-label>
    <input matInput placeholder="" required formControlName="title" />
  </mat-form-field>
  <mat-form-field class="speaker-full-width">
    <mat-label>Descripción de la charla </mat-label>
    <textarea
      matInput
      placeholder=""
      required
      formControlName="abstract"
    ></textarea>
  </mat-form-field>
</form>
