img {
  height: 200px;
  width: 200px;
}

h1 {
  font-size: 60px;
  font: 700 Lato, sans-serif;
}

.container {
  background-color: #620000;
}

.page-title {
  margin: 35px 0px 31px calc((100% - 980px) * 0.4);
}
