/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
div,
span,
a,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #ffffff;
  font-family: Rubik, arial, helvetica, sans-serif;
  font-weight: 700;
}

a {
  text-decoration: none;
}

.highlight {
  color: #b52e31;
}
