.gallery {
  column-count: 4;
  column-gap: 20px;
  padding: 20px;
}

.gallery-image {
  height: 100%;
  margin-bottom: 20px;
  transition: all 0.5s;
  width: 100%;
}

.gallery-image:hover {
  cursor: pointer;
  filter: brightness(70%);
}

/* Modal */

.modal {
  background-color: #000000d9;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
}

.img-container {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.img-container img {
  height: 100%;
  width: 100%;
}

.close {
  color: white;
  font-size: 35px;
  font-weight: 500;
  position: absolute;
  right: -45px;
  transition: transform 0.5s;
}

.previous,
.next {
  color: white;
  font-weight: 500;
  font-size: 25px;
  padding: 18px;
  position: absolute;
  top: 35%;
  transition: transform 0.5s;
}

.next {
  right: 0;
}
.close:hover,
.next:hover,
.previous:hover {
  cursor: pointer;
  transform: scale(1.2);
}

@media only screen and (max-width: 959px) {
  .gallery {
    column-count: 2;
  }

  .previous,
  .next {
    top: 45%;
  }
}

@media only screen and (max-width: 599px) {
  .gallery {
    column-count: 1;
  }

  .previous,
  .next {
    font-size: 20px;
  }
}
