<div class="gallery">
    <img
      class="gallery-image"
      [src]="urlStart + image"
      *ngFor="let image of images; let i = index"
      (click)="toggleModal(); setSlide(i)"
    />

    <ng-container *ngIf="show">
      <div class="modal">
        <div>
            <a class="previous" (click)="setSlide(slide -1)">&#10094;</a>
            <div class="img-container">
                <img [src]="urlStart + images[slide]">
                <span class="close" (click)="toggleModal()">&times;</span>
            </div>
            <a class="next" (click)="setSlide(slide +1)">&#10095;</a>
        </div>
    </div>
    </ng-container>
</div>